<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>遇见</title>
    <link rel="stylesheet" href="../static/css/reset.css"/>
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/ge_ren/ge_ren.js"></script>

    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/home/main.css"/>

</head>
<body>
<div>
    <nav class="navbar" style="background-color: hotpink ;margin-bottom: 0;height: 80px">

        <h2 class="form-signin-heading" style="font-size: 30px;margin-top: 24px;text-align: center;color: whitesmoke">
            TM交友平台--个人中心</h2>
    </nav>

    <div class="container">
        <div style="height: 10rem;width: 30%;margin-top: 10px;margin-bottom:10px;float:left;">
            <a href="#"
               style="width: 10rem;height: 10rem;border-radius: 100%;position: absolute;border: 1px solid black;overflow: hidden;">
                <img id="avatar" src=""
                     alt="" style="width: 100%;height: 100%">
                <input id="chooseImage" class="border-radius: 100%;" style="position: absolute;bottom: 0%;width: 10rem;height: 10rem;border-radius: 100%;opacity: 0 " type="file" name="file" id="icon"/>
            </a>

        </div>
        <div id="user" style="height: 10rem;width: 60%;margin-top: 10px;margin-bottom:10px;float: left">
            <p id="name" style="margin-top: 13px;font-size: 16px;font-weight: bold"></p>
            <p  style="font-size: 12px">账号: <span id="phone"></span></p>
            <p  style="font-size: 12px">会员等级: <span id="level" style="background-color: hotpink;border-radius: 5px"></span></p>
        </div>
        <div style="height: 10rem;width: 10%;margin-top: 10px;margin-bottom:10px;float: left">
            <p class="glyphicon glyphicon-chevron-right" style="margin-top: 4rem;font-size: 25px;"></p>
        </div>
        <div style=" width: 90%;height: 3rem;margin-top: 10px; float: left;">
            <p id="phone" style="font-size: 15px">我的相册</p>
        </div>
        <div style=" width: 100%;height: 1rem; float: left;">
            <hr color="#5e5e5e" style="margin: 0;height: 1px"/>
        </div>
        <div style=" width: 90%;height: 8rem; float: left;">
            <div class="sctp">
    <img src="img/sczp.png" id="photo" alt="" />
    <input class="iptsc" type="file" name="file" id="file" />
    <input type="hidden" id="fileVal">
</div>
        </div>
        <div style="width: 10%;height:8rem; float: left;">
            <p class="glyphicon glyphicon-chevron-right" style="margin-top: 4rem;font-size: 25px;"></p>
        </div>
        <div style=" width: 90%;height: 3rem;margin-top: 10px; float: left;">
            <p id="phone" style="font-size: 15px">我的服务</p>
        </div>
        <div style=" width: 100%;height: 1rem; float: left;">
            <hr color="#5e5e5e" style="margin: 0;height: 1px"/>
        </div>
        <div style=" width: 100%;height: 8rem; float: left;">
            <a href="vip.html" style="display:block;
    width:25%!important;
    text-align:center;
    overflow:hidden!important;float: left">
                <dl>

                    <dd class="glyphicon glyphicon-fire " style="margin-top: 19px;font-size: 20px;"></dd>

                    <dd style="align-content: center;color: red;">
                        开通会员
                    </dd>
                </dl>
            </a>
            <a id="you_hui" style="display:block;
    width:25%!important;
    text-align:center;
    overflow:hidden!important;float: left">
                <dl>

                    <dd class="glyphicon glyphicon-gift " style="margin-top: 19px;font-size: 20px;"></dd>

                    <dd style="align-content: center;color: red;">
                        优惠礼包
                    </dd>
                </dl>
            </a>
            <a id="xiao_fei" style="display:block;
    width:25%!important;
    text-align:center;
    overflow:hidden!important;float: left">
                <dl>

                    <dd class="glyphicon glyphicon-list-alt " style="margin-top: 19px;font-size: 20px;"></dd>

                    <dd style="align-content: center;color: red;">
                        消费记录
                    </dd>
                </dl>
            </a>
            <a id="tou_su" style="display:block;
    width:25%!important;
    text-align:center;
    overflow:hidden!important;">
                <dl>

                    <dd class="glyphicon glyphicon-tags " style="margin-top: 19px;font-size: 20px;"></dd>

                    <dd style="align-content: center;color: red">
                        投诉建议
                    </dd>
                </dl>
            </a>
        </div>
    </div> <!-- /container -->
</div>

<button class="btn btn-lg btn-primary btn-block" type="button" id="remind"
                    style="width: 70%;margin: 30px auto;background-color: #2a1a2a;font-size: 16px;height: 42px;display: none" >
            </button>
<a href="#" id="logout" style="position: absolute;bottom: 20%;width: 100%;text-align: center;font-size: 24px;background-color: #c4e3f3;padding: 5px">点击退出</a>
<footer style="height: 80px;font-size: 16px;background: #eee;">
    <a href="mine.html" class="home">
        <dl>

            <dd class="glyphicon glyphicon-home " style="margin-top: 19px;font-size: 20px;"></dd>

            <dd style="align-content: center;">
                遇见
            </dd>
        </dl>
    </a>




    <a href="tuodong.html" class="cart">
        <dl>

            <dd class="glyphicon glyphicon-heart " style="margin-top: 19px;font-size: 20px; "></dd>

            <dd style="align-content: center;">
                缘分
            </dd>
        </dl>
    </a>
   <a href="hao_you.html" class="market">
        <dl>

            <dd class="glyphicon glyphicon-plane "
                    style="margin-top: 19px;font-size: 20px; "></dd>

                <dd style="align-content: center;">
                    好友
                </dd>
        </dl>
    </a>
    <a href="ge_ren.html" class="mine">
        <dl>

            <dd class="glyphicon glyphicon-user " style="margin-top: 19px;font-size: 20px;color: hotpink"></dd>

            <dd style="align-content: center;color: hotpink">
                个人
            </dd>
        </dl>
    </a>
</footer>
<script>
    $('#chooseImage').on('change', function() {//当chooseImage的值改变时，执行此函数
     var filePath = $(this).val(), //获取到input的value，里面是文件的路径
    fileFormat = filePath.substring(filePath.lastIndexOf(".")).toLowerCase(),
    src = window.URL.createObjectURL(this.files[0]); //转成可以在本地预览的格式
    // 检查是否是图片
     if(!fileFormat.match(/.png|.jpg|.jpeg/)) {
    alert('上传错误,文件格式必须为：png/jpg/jpeg')
    }else{
     var formData = new FormData();//*
     formData.append("avatar",document.getElementById('chooseImage').files[0]);//*
     $.ajax({
         type:'post',
         url:'http://127.0.0.1:8000/api/user/upload_avatar',
         data:formData,
         xhrFields: {withCredentials: true},
         processData:false,//*
         contentType:false,//*
         success:function(res){
             console.log(res);
         }
      })
    $('#avatar').attr('src', src);

 }
});
</script>
</body>
</html>