<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>遇见</title>
    <link rel="stylesheet" href="../static/css/reset.css"/>
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/other/info2.js"></script>

    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/mine/user_info.css"/>

</head>
<body>
<nav class="navbar" style="background-color: hotpink ;margin-bottom: 0;height: 55px">

        <h2 class="form-signin-heading" style="font-size: 20px;margin-top: 18px;text-align: center;color: whitesmoke">
            好友资料</h2>
    <a href="hao_you.html" class="glyphicon glyphicon-chevron-left" style="font-size: 20px;height: 50px;width: 50px;position: absolute;top: 50%;color: white "></a>
    </nav>
    <div style="background-color: #3c3c3c;height: 250px">
        <img id="avatar" style="width: 70%;height: 250px;margin-left: 15%" src="" alt="">
    </div>

    <div id="info" style="background-color: white">


    </div>

    <button class="btn btn-lg btn-primary btn-block" type="button" id="remind"
                    style="width: 70%;position: absolute;left: 15%;bottom: 0%;z-index: 2;margin: 30px auto;background-color: #2a1a2a;font-size: 16px;height: 42px;display: none" >
            </button>

</body>
</html>