<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>遇见</title>
    <link rel="stylesheet" href="../static/css/reset.css"/>
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/mine/mine.js"></script>


    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/home/main.css"/>
    <link rel="stylesheet" href="../static/css/mine/mine.css"/>


</head>
<body>
<div>
    <nav class="navbar" style="background-color: hotpink ;margin-bottom: 0;height: 80px">

        <h2 class="form-signin-heading" style="font-size: 30px;margin-top: 24px;text-align: center;color: whitesmoke">
            TM交友平台</h2>
    </nav>

    <div id="users" class="container" style="padding-left: 8px;padding-right: 0px;margin-top: 10px">
        <a href="mine.html">
            <p style="background-color: #eee;
            width: 31%;
            height: 132px;
            margin-left: 4.5px;
            border-radius: 10px;
            float: left">
                <span class="glyphicon glyphicon-refresh"
                      style="margin-left: 30%;margin-top:40%;font-size: 40px;color: grey"></span>
            </p>
        </a>
    </div>


</div> <!-- /container -->
</div>
<footer style="height: 80px;font-size: 16px;background: #eee;">
    <a href="mine.html" class="home">
        <dl>

            <dd class="glyphicon glyphicon-home " style="margin-top: 19px;font-size: 20px;color: hotpink    "></dd>

            <dd style="align-content: center;color: hotpink">
                遇见
            </dd>
        </dl>
    </a>



    <a href="tuodong.html" class="cart">
        <dl>

            <dd class="glyphicon glyphicon-heart " style="margin-top: 19px;font-size: 20px;    "></dd>

            <dd style="align-content: center">
                缘分
            </dd>
        </dl>
    </a>
  <a href="hao_you.html" class="market">
        <dl>

            <dd class="glyphicon glyphicon-plane "
                    style="margin-top: 19px;font-size: 20px; "></dd>

                <dd style="align-content: center;">
                    好友
                </dd>
        </dl>
    </a>

    <a href="ge_ren.html" class="mine">
        <dl>

            <dd class="glyphicon glyphicon-user " style="margin-top: 19px;font-size: 20px;    "></dd>

            <dd style="align-content: center">
                个人
            </dd>
        </dl>
    </a>
</footer>
</body>
</html>